* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #000;
}

img {
    max-width: 100%;

}

// <h2> titoli di sezione
.section-title {
    text-align: center;
    color: $brandMainBlue;
    margin-top: 50px;
    margin-bottom: 10px;
}

